.linkReset {
   text-decoration: none;
   color: inherit;
}

.btn_dsc{
    background-color: #202027;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border:none;
    cursor: pointer;
}

.btn_image{
    width: 40%;
}

@media (min-width: 1200px) {
    .btn_dsc{
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .btn_image{
        width: 45%;
    }
}