    #circle-one{
        background-color: #bc3a801a;
        position: absolute;
        z-index: -20;
        width: 100px;
        height: 100px;
        top:70vh;
        left:5vw;
        border-radius: 50%;
    }

    #circle-two{
        background-color: #3457b21a;
        position: absolute;
        z-index: -20;
        width: 100px;
        height: 100px;
        left: 35vw;
        top:5vh;
        border-radius: 50%;
    }

    #circle-three{
        background-color: #3457b21a;
        position: absolute;
        z-index: -20;
        width: 200px;
        height: 200px;
        top:75vh;
        left:70vw;
        border-radius: 50%;
    }

    #circle-four{
        background-color: #bc3a801a;
        position: absolute;
        z-index: -20;
        width:150px;
        height: 150px;
        top:80vh;
        left: -10vw;
        border-radius: 50%;
    }

    #circle-five{
        background-color: #3457b21a;
        position: absolute;
        z-index: -20;
        width: 120px;
        height: 120px;
        top:-13vh;
        left:20vw;
        border-radius: 50%;
    }

@media (min-width: 1200px) {
    #circle-one{
        width: 500px;
        height: 500px;
        top:28vh;
        left:10vw;
    }

    #circle-two{
        width: 500px;
        height: 500px;
        top:3vh;
        left:35vw;
    }

    #circle-three{
        width: 800px;
        height: 800px;
        top:40vh;
        left:75vw;
    }

    #circle-four{
        width: 650px;
        height: 650px;
        top:28vh;
        left: -8vw;
    }

    #circle-five{
        width: 550px;
        height: 550px;
        top:-20vh;
        left:23vw;
    }
}
