    .main_discover{
        height: 90dvh;
        overflow: hidden;
    }
    
    .title_discover{
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
}
    .discover{
        width: 98%;
        height:70vh;
        flex-direction: column;
        margin: 50px auto 0 auto;
    }

    .container_discover{
        width:85%;
        margin: 0 auto;
    }

    .field_btn{
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        gap:15px;
        margin-bottom: 20px;
    }

    .intro_disc{
    color: white;
    }

    .field_covers{
        width: 60%;
        margin: 40px auto;
    }

    .covers{
    width: 100%;
}



@media (min-width: 1200px) {
.main_discover{
    height: 80dvh;
}

.title_discover{
    color: white;
    font-size: 50px;
    font-weight: 500;
}

.discover{
    width: 50%;
    height: 50%;
    margin:180px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.container_discover{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.field_btn{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.field_covers{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.covers{
    width: 100%;
}


}
