footer{
    background-color: #202027;
    display: flex;
    justify-content: center;
    gap:20%;
    height: 60px;
}

.footer_info{
    color:white;
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.footer_rrss{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
    width: 20%;
    font-weight: bold;
}

.rrss{
    display: flex;
    gap: 10px;
}

@media (min-width:320px) and (max-width:476px){
    footer{
        justify-content: space-between;
        gap:0;
        height: 80px;
    }

    .footer_info{
        width: 50%;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
         white-space: nowrap;
    }

    .footer_rrss{
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 4vw;
    }

    .rrss{
        flex-direction: column;
        align-items: center; 
    }
}