    footer{
        background-color: #202027;
        display: flex;
        justify-content: space-between;
        gap:0;
        height: 80px;
    }

    .footer_info{
        color:white;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        white-space: nowrap;
        font-weight: bold;
    }

    .footer_rrss{
        color:white;
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 4vw;
        font-weight: bold;
    }

    .rrss{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

@media (min-width:1200px){
    footer{
        justify-content: center;
        gap:20%;
        height: 70px;
    }

    .footer_info{
        width:20%;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .footer_rrss{
        justify-content: flex-end;
        align-items:last baseline;
        width: 20%;
        font-size: 16px;
    }

    .rrss{
        gap: 10px;
    }
}
