:root{
    --color-primary:#202027;
    --color-secundary:#596da0;
    --radius:10px;
}

form{
    width: 100%;
    margin-top: 50px;
    height: auto;
    background-color: var(--color-primary);
    padding:30px 60px;
    border-radius: 15px;
}


.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 4px;
}

label{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

input{
    background-color: var(--color-primary);
    border-radius:var(--radius);
    height: 40px;
    outline:none;
    border: 1px solid #2E3852;
    color: white;
    padding-left:25px;
}

input:focus{ 
    border: 1px solid #596da0;
}

.error{
    display: block;
    font-size: 16px;
    color: red;
    min-height: 20px;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.2s;
}

.join{
    border-radius: var(--radius);
    height: 40px;
    background-color: #1762A7;
    width: 100%;
    color: white;
    font-size: 16px;
    border: none;
}

.join:hover{
    background-color: #2180d8;
}

.join:focus{
    background-color: #2796ff;
}

.visible{
    opacity: 1;
    color: red;    
}

@media (min-width:1200px){
    form{
        width: 30vw;
    }
}
