header{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-left: 200px;
    padding-right: 100px;
}

h1{
    font-size: 25px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: white;
}

.cabecera{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 5%;
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    list-style: none;
    width: 300px;   
}