    header{
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        padding-top: 3vh;
        padding-left: 0;
    }

    h1{
        font-size: 5vw;
        font-weight: 400;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .cabecera{
        display: flex;
        align-items: center;
        width: 50vw;
        padding-left: 8vw;
        gap: 5%;
        
    }

    nav{
        margin-left:6vw;
        
    }
    
    .btn-nav{
        font-size: 5vw;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width:50vw;
        gap:4vw;
    }

@media (min-width:1200px){
    header{
        width: 100%;
        padding-top: 1%;
        padding-left: 60px;
        padding-right: 100px;
    }

    h1{
        font-size: 25px;
        font-weight: 300;
    }

    .cabecera{
        width: 300px;
    }

    .btn-nav{
        font-size: 20px;
    }
    ul{
        gap: 10%; 
        width: 300px;   
    }
}
