.loading{
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.loading img{
    width: 80px;
    height: 80px;
}

.title-load{
    font-size: 70px;
    color: #4f5690;
}

@media (min-width:320px) and (max-width:476px){
    .loading{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .loading img{
        width: 100px;
        height: 100px;
    }

    .title-load{
        font-size: 40px;
    }
}