body{
    overflow: hidden;
}

.present{
    position: relative;
}

.container{ 
    width: 70%;
    justify-content: center;
    align-items:flex-start;
    display: flex;
    gap: 5%;
    margin:8.1% auto 0 auto;
}

.container img{
    width: 35%;
}

h2{
    font-size: 40px;
    font-weight: 400;
}

.container-text{
    padding-top: 10%;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 400px;
}


@media (min-width:320px) and (max-width:476px){
    .present {
        height: 100dvh;
        overflow: hidden;
    }
    
    .container img{
        display: none;
    }

    h2{
        font-size: 50px!important;
    }

    .container{
         width: 80vw;
         margin:25vh auto 0 auto;
         height:30vh;
    }
}