.present {
        height: 95dvh;
        position: relative;
        overflow: hidden;
    }
    
.container img{
        display: none;
    }
    
.title-present{
        font-size: 50px;
        font-weight: 500;
        color: white;
        margin-bottom: 20px;
    }

.container{
         width: 80vw;
         margin:20vh auto 0 auto;
         height:30vh; 
    }


.container-text{
    padding-top: 10%;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}


@media (min-width: 1200px) {
    .present{
    display: grid;
    height:91dvh;
    grid-template-rows: auto 1fr auto;
    }

.container{ 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 5%;
    margin:8.1% auto 0 auto;
}

.container img{
    display: block;
    width: 35%;
}

.title-present{
    font-size: 50px;
}

.container-text{
    padding-top: 10%;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 400px;
}
}
