body{
overflow: hidden;
}

.present{
    position: relative;
}

.container{ 
    width: 70%;
    justify-content: center;
    align-items:flex-start;
    display: flex;
    gap: 5%;
    margin:8.1% auto 0 auto;
}

.container img{
    width: 35%;
}

h2{
    font-size: 40px;
    font-weight: 400;
}

.container-text{
    padding-top: 10%;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 400px;
}