.container_submit{
    width: 50vw;
    height:50vh;
    margin:80px auto;
}

.container_results{
    width: 40vw;
    height:50vh;
    margin:0 auto;
    background-color: #202027;
    border-radius: 15px;
    padding-top: 20px;
}

.title_submit{
    text-align: center;
    font-size: 50px;
    padding:0 20px;
}

.welcome{
    color:white;
    text-align: center;
    padding-top: 25px;
}
.result{
    text-align:left;
    color: white;
    width: 20vw;
    margin:20px auto;
    line-height: 50px;
}

.text_color{
    color:#bc3a80;
}

.color_app{
    color:#2796ff;
}

.button_field{
   display: flex;
   justify-content: center;
}

.back{
    width: 20vw;
    height:40px;
    color: white;
    background-color: #1762A7;
    border:none;
    border-radius: 10px;
    font-size: 16px;
}

.back:hover{
    background-color: #2180d8;
}

.back:focus{
    background-color: #2796ff;
}